<h1>チャット一覧</h1>
<hr>
<% @rooms.each do |r| %>
  <a href="/rooms/<%= r.id %>"><%= r.name %></a>
  <hr>
<% end %>
<p><a href="/users/<%= current_user.id %>" class="btn btn-primary"><%= current_user.family_name %> <%= current_user.first_name %>さんの情報に戻る</a></p>
<p><a href="/" class="btn btn-info">トップに戻る</a></p>